
header{
	width:90%;
	background-color:;
	border:;
	padding:1em;
	display:block;

}
p{
	font-size:24px;
	color:#565656;
	
}

body{
	font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
}

footer{

}

h1{

}

h2{

}

h3{
	text-align:right;

}

#content{
	
}

#About{

	background-color:#d7cec7;
	padding-left:28em;
	padding-right:28em;
	padding-top: 1em;
	padding-bottom:1em;

	left:4em;
	
	box-shadow:10px 10px 5px #888888;
}
#Portfolio{

	background-color:#d7cec7;
	padding-left:28em;
	padding-right:28em;
	padding-top: 1em;
	padding-bottom:1em;
	
	box-shadow:10px 10px 5px #888888;
}

#Contact{
	background-color:#d7cec7;
	padding-left:28em;
	padding-right:28em;
	padding-top: 1em;
	padding-bottom:1em;

	
	box-shadow:10px 10px 5px #888888;

}

#subsection{

	background-color:white;
	color:black;
	margin-top:0;
	margin-bottom:0;	
}