
header{
	width:90%;
	background-color:;
	border:;
	padding:1em;
	display:block;
	color:white;

}
p{
	font-size:20px;
	color:white;	
}

body{
	font-family:"Helvetica","Book Antiqua",Palatino,serif;
	background-color: #18121e;
	line-height: 2;
	color:white;
}

footer{

}

h1{
	font-size:60px;
}

h2{
	font-size:28px;

}

h3{
	

}

#content{
	
}

#About{

	background-color:#233237;
	padding-left:28em;
	padding-right:28em;
	padding-top: 2em;
	padding-bottom:4em;
	
	box-shadow:10px 10px 5px #888888;
}
#Portfolio{

	background-color:#984b43;
	padding-left:28em;
	padding-right:28em;
	padding-top: 2em;
	padding-bottom:4em;
	
	box-shadow:10px 10px 5px #888888;
}

#Contact{
	background-color:#eac67a;
	padding-left:28em;
	padding-right:28em;
	padding-top: 2em;
	padding-bottom:4em;

	box-shadow:10px 10px 5px #888888;

}



img{
	vertical-align:vertical;
	text-align:right;
	border-radius 25%;
	float:left;
	margin: 0px 25px 25px 0px;
	border:;
	box-shadow:5px 5px 2px black;
}

#image1{
	border:solid;
	margin: 15px 25px 175px 15px;
}

#image2{
	border:solid;
	margin: 15px 25px 125px 15px;
}