$grey:#686256;
$orange:#c1502e;
$blue:#587e76
$brown:#a96e5b


header{
	width:100%;
	background-color:#45acbc;
	border:;
	padding:1em;


}
p{
	font-size:26px;
	color:#f1e3dd;
	text-align:justify;
}

body{
	font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
	width: 85em;
	margin-left:auto;
	margin-right:auto;
	background-color:#a79e84;
}

footer{




}

h1{
	font-size:34px;
	color:#f1e3dd;
	text-align:right;
}
h2{
	font-size:50px;
	color:#f1e3dd;
	text-align:center;

}

#content{
	
}

#About{

	background-color:#454140;
	padding-left:4em;
	padding-right:4em;
	padding-top: 1em;
	padding-bottom:1em;
	border-left:solid #ad5734 35px;
}
#Portfolio{

	background-color:#ad5734;
	padding-left:4em;
	padding-right:4em;
	padding-top: 1em;
	padding-bottom:1em;
	border-right:solid #454140 35px;
}

#Contact{
	background-color:#454140;
	padding-left:4em;
	padding-right:4em;
	padding-top: 1em;
	padding-bottom:1em;

	border-left:solid #ad5734 35px;

}